/*#centre {
margin-right:13%!important;
text-align:center!important;
padding:35px 10px!important;
}

#droite {
width:13%!important;
}

#menu, #menu_alliance {
right:178px!important;
}
*/
#centre > h2,#alliance > .titre {
color:green!important;
text-align:center!important;
}

#boite_info_message{
text-align:right!important;
}

.boite_info td,.boite_compte_plus td {
font-size:1em;
}

.desciption_amelioration{
padding-right:5px;
text-align:justify!important;
}

th:contains("Terrain"){
width:120px!important;
}

.tableau_leger, .tab_triable {
margin:auto;
}

#recherche{
width:95%;
}
